img {
    height: 150px;
    width: 100%;
    object-fit: contain;
    object-position: top;
    // border-radius: 1rem;
    overflow-y: hidden;
}

@media (min-width: 425px) {
    img {
        height: 200px;
    }
}

@media (min-width: 576px) {
    img {
        height: 200px;
    }
}

@media (min-width: 1200px) {
    img {
        height: 250px;
    }
}

