<nav class="navbar navbar-expand-lg position-lg-absolute">
  <div class="container-fluid">
    <img class="logo me-3" src="assets/logo.svg" alt="profile logo" width="35px" height="35px" loading="lazy">
    <a class="navbar-brand me-auto" href="#">Daniel Arellano</a>
    <i title="Change theme" class="bi bi-theme me-3 fs-5" role="button" (click)="switchTheme()"></i>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mb-2 mb-lg-0">
        @if (features.home) {
        <li class="nav-item">
          <a class="nav-link" href="#">{{'ABOUTME' | translate}}</a>
        </li>
        }
        @if (features.skills) {
        <li class="nav-item">
          <a class="nav-link" href="#skills">{{'SKILLS' | translate}}</a>
        </li>
        }
        @if (features.qualification) {
        <li class="nav-item">
          <a class="nav-link" href="#qualification">{{'QUALIFICATION' | translate}}</a>
        </li>
        }
        @if (features.experience) {
        <li class="nav-item">
          <a class="nav-link" href="#experience">{{'EXPERIENCE' | translate}}</a>
        </li>
        }
        @if (features.products) {
        <li class="nav-item">
          <a class="nav-link" href="#products">{{'PRODUCTS' | translate}}</a>
        </li>
        }
        @if (features.services) {
        <li class="nav-item">
          <a class="nav-link" href="#services">{{'SERVICES' | translate}}</a>
        </li>
        }
        @if (features.contact) {
        <li class="nav-item">
          <a class="nav-link" href="#contact">{{'CONTACTME' | translate}}</a>
        </li>
        }

        <!-- LANGS -->
        @if (languages.multiLanguage) {
        <li class="nav-item my-auto">

          <!-- DROPDOWN -->
          @if (languages.showDropdown) {
          <div class="dropdown ms-2">
            <div class="dropdown-toggle d-flex" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              @if (languages.showFlag) {
              <img class="flag me-2 my-auto" src="assets/flags/{{selectedLanguage}}.svg" alt="profile logo" width="35px"
                height="35px" loading="lazy">
              }
              @if (languages.showText) {
              <div class="my-auto">{{selectedLanguage | translate}}</div>
              }
            </div>
            <ul class="dropdown-menu">
              @for (l of languages.list; track $index) {
              <li class="me-3 d-flex dropdown-item{{l==selectedLanguage?' active':''}}" role="button"
                (click)="changeLanguage(l)">
                @if (languages.showFlag) {
                <img class="flag me-2 my-auto" src="assets/flags/{{l}}.svg" alt="profile logo" width="35px"
                  height="35px" loading="lazy">
                }
                @if (languages.showText) {
                <div class="my-auto">{{l | translate}}</div>
                }
              </li>
              }
            </ul>
          </div>
          } @else {

          <!-- NOT DROPDOWN -->
          @for (l of languages.list; track $index) {
          <div class="me-3 d-flex" (click)="changeLanguage(l)" role="button">
            @if (languages.showFlag) {
            <img class="flag me-2 my-auto" src="assets/flags/{{l}}.svg" alt="profile logo" width="35px" height="35px"
              loading="lazy">
            }
            @if (languages.showText) {
            <div class="my-auto">{{l | translate}}</div>
            }
          </div>
          }
          }
        </li>
        }

      </ul>
    </div>
  </div>
</nav>